# Provisioned from inventory.yml. Keep values on one line.
FIELD_SSID={{ wifi.field.ssid }}
FIELD_PSK={{ wifi.field.password }}
FIELD_CHANNEL={{ wifi.field.channel }}
FLEET_IP={{ fleet_ip }}
DEV_IDENTITY={{ wifi.umich.identity }}
DEV_PASSWORD={{ wifi.umich.password }}
DEV_CA_CERTIFICATE=/etc/ssl/certs/USERTrust_RSA_Certification_Authority.pem
HOTSPOT_SSID={{ wifi.hotspot.ssid }}
HOTSPOT_PSK={{ wifi.hotspot.password }}
