#cloud-config
hostname: {{ drone_hostname }}
manage_etc_hosts: true

users:
  - name: maav
    groups: sudo,dialout,video,audio
    shell: /bin/bash
    lock_passwd: false
    # password: impossible
    # generated with: nix shell nixpkgs#python3Packages.passlib --command python3 -c 'from passlib.hash import sha512_crypt; print(sha512_crypt.using(rounds=5000).hash("impossible"))'
    passwd: "{{ maav_password_hash }}"
    ssh_authorized_keys: {{ ssh_authorized_keys | default([]) | to_json }}

ssh_pwauth: true

runcmd:
  # Pi OS cloud-init is missing the cc_netplan_nm_patch module which normally
  # applies the netplan config after generate. Do it ourselves.
  - [netplan, apply]
