[Unit]
Description=Fleet operator-device DHCP
After=fleet-network.service
PartOf=fleet-network.service
ConditionPathExists=/etc/maav/dnsmasq-fleet.conf

[Service]
Type=simple
ExecCondition=/usr/local/sbin/fleet-network is-field-master
ExecStart=/usr/sbin/dnsmasq --keep-in-foreground --conf-file=/etc/maav/dnsmasq-fleet.conf
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
