[Unit]
Description=MAAV fleet operator-device DHCP
After=maav-fleet-network.service
PartOf=maav-fleet-network.service
ConditionPathExists=/etc/maav/dnsmasq-fleet.conf

[Service]
Type=simple
ExecCondition=/usr/local/sbin/maav-fleet-network is-master
ExecStart=/usr/sbin/dnsmasq --keep-in-foreground --conf-file=/etc/maav/dnsmasq-fleet.conf
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
